*.mp3
*.m4a
*.jpg
deploy.sh
.pi/

# Dependencies
node_modules

# Build output
dist
target
wasm-markdown/pkg
src/wasm

# Logs
*.log
npm-debug.log*

# Editor directories
.vscode
.idea

# OS files
.DS_Store
